body {
  background: url("http://tub.tubgit.com/reimg/resize-img.php?src=http://tub.tubgit.com/images251/5dslshrrimn.jpg&h=1080&w=1920") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

#quantity {
  color: rgba(0,0,0,.8);
}

#title, #p {
  color: rgba(255,255,255,.8);
}

#p {
  font-size: 18px;
}

div {
  margin-top: 25px;
}

#result, #moreResult {
  font-size: 24px;
  background: rgba(255,255,255,.3)
}

#error {
  color: red;
  font-size: 18px;
}

li {
  border-bottom: 1px solid rgba(0,0,0,.7)
}

#piece {
  font-style: italic;
  text-align: right;
  margin-right: 50px;
}
